/* 公告文字样式 */
.p_margin {
    margin: 20px 0;
}

#p1 {
    color: red;
    font-size: 20px;
    font-weight: bold;
    text-align:left;
}

#p2 {
    font-size: 20px;
    line-height: 1.5;
    text-align:left;
}

#p2 span {
    font-size: 18px;
    font-weight: bold;
    text-align:left;
}

#p3 {
    color: rgb(154, 153, 187);
    font-size: 16px;
    line-height: 1.5;
    text-align:left;
}

:root {  
    --width-zt: 258px;  /* 公告总宽度 */
    --width-bo: 200px;  /* 公告离地高度 */
    --height-close: 40px;  /* 显示按钮的高度宽度 */
  }  

/* 主体样式 */
.popover {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: var(--width-zt); 
    position: fixed;
    /* bottom: var(--width-bo);  */
    right: 20px;
    z-index: 22;
    box-sizing: border-box;
    border: 1px solid #5672cd;
    border-radius: 6px;
    background-color: rgba(255, 255, 255);
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .1);
}

/* 关闭后样式 */
.popover-close {
    opacity: .5;
    z-index: 22;
    bottom: calc(var(--width-zt) + var(--width-bo) + var(--height-close));
    right: 20px;
    position: fixed;
    background-color: #5672cd;
    border: none;
    /* 移除默认的边框 */
    padding: 10px;
    color: #fff;
    border-radius: 50%;
    /* 使按钮成为正圆形 */
    display: flex;
    align-items: center;
    justify-content: center;
    /* 使图标在按钮中居中 */
    width: var(--height-close);
    height: var(--height-close); 
    cursor: pointer;
    /* 添加鼠标悬停时的手形光标 */
}

.el-icon2 {
    display: flex;
    /* 添加 flex 属性 */
    align-items: center;
    /* 使 SVG 在 i 标签内居中 */
    justify-content: center;
    width: 100%;
    height: 100%;
}

/* 主体样式 */
.header {
    background-color: #c4cce9;
    color: #fff;
    padding: 6px 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-wrapper {
    display: flex;
    align-items: center;
}

.el-icon {
    height: 1em;
    width: 1em;
    line-height: 1em;
    display: block;
    /* justify-content: center;
    align-items: center; */
    position: relative;
    fill: currentColor;
    color: inherit;
    font-size: inherit;
}

.title-wrapper .title {
    font-size: 14px;
    padding-left: 6px;
}

img,
video {
    max-width: 100%;
    height: auto;
}

.header .close-icon {
    cursor: pointer;
}

.body.content,
.footer.content {
    text-align: center;
}

.body {
    box-sizing: border-box;
    padding: 10px 10px 0;
}

.footer {
    box-sizing: border-box;
    padding: 10px;
}

/* a 标签的按钮样式 */
.button-container {  
    display: flex;  
    justify-content: center;  
    align-items: center;  
}  
  
.button-author,  
.button-group {  
    border: none;  
    color: white !important;  
    transition: all 0.3s ease;  
    cursor: pointer;  
    font-size: 16px;  
    padding: 10px 20px;  
    display: flex;  
    align-items: center;  
    justify-content: center;  
    border-radius: 8px;  
    margin: 5px;
    text-decoration: none !important;
}  
  
.button-author {  
    background-color: #4f9fe0;  
}  
  
.button-group {  
    background-color: #4f9fe0;  
}  
  
.button-author:hover,  
.button-group:hover {  
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
    transform: translateY(-3px);  
}